<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--单例模式时，只会创建一个对象，对这个对象多次赋值时，只会取最后一次，
    当多例模式会创建多个不同的对象-->
<bean id="user" class="com.bbear.example.pojo.UserPOJO" scope="prototype"></bean>
</beans>